/******************APP STYLES*******************/

#app h1 {
  font-size: 20pt;
}

#app h2 {
  font-size: 16pt;
}

#app h4 {
  font-size: 12pt;
}

/* #app {
  background-color: #82B875;
} */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/******PRODUCT OVERVIEW STYLES******************/

.productOverview-container {
  position: relative;
  height: 600px;
  display: flex;
  margin: 30px;
  /* min-width: 1600px; */
}

.overview-container {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  max-width: fit-content;
  min-width: 440px;
  max-height: 570px;
  /* border: solid greenyellow; */
}

.imagegallery {
  position: relative;
  background-color: rgb(134, 134, 134);
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 578px;
  min-width: 551px;
  align-content: space-around;
  overflow: hidden;
}

.flexbox-item {
  justify-content: space-around;
  /* align-content: space-between; */
}

.primary-image {
  position: relative;
  background-color: rgb(134, 134, 134);
  display: flex;
  margin: 17px;
  align-items: center;
  flex-basis: auto;
  justify-content: center;
  overflow: hidden;
  max-height: 450px;
}

.inner-image {
  position: absolute;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  min-width: 551px;
  padding: 10px;
  align-content: space-around;
}

.inner-images {
  /* padding: 5px; */
  border: rgb(189, 189, 189);
}

/* .pobtns {
  variant: 'outline';
} */

.addtocart-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  /* background-color: aquamarine; */
}

.price-container {
  display: flex;
  justify-content: space-between;
  width: 27%
}

.cont {
  border: 4px solid grey;
}

.cont2 {
  border: 5px solid #428047;
}

/******RATINGS AND REVIEWS STYLES******************/
.ratingsAndReviews-container {
  max-height: 500px;
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 5px;
  font-size: 12px;
  width: 80%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ratingBreakdowns {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}

.rating-summary-container{
  display: grid;
  grid-template-columns: 60px 90px;
  grid-template-areas:
    'header header'
    'number stars'
    'number totalReviews'
    'number percentRec';
  margin-bottom: 1em;
}

.average-summary{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size : 35px;
  font-weight: normal;
  grid-area: number;
}

.ratings-header{
  display: flex;
  grid-area: header;
  padding-top: 5px;
  font-size: 13pt;
  font-weight: lighter;
  text-align: justify;
  margin-bottom: 3px;
}

.star-summary{
  display: inline-grid;
  grid-area: stars;
}

.number-summary{
  display: inline-grid;
  grid-area: totalReviews;
  word-break: break-word;
  font-style: italic;
  padding-top: 2px;
}

.recommend-summary{
  display: inline-grid;
  grid-area: percentRec;
  word-break: break-word;
  padding-top: 2px;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid black;
  position: absolute;
  z-index: 2;
}

.reviews-list-container{
  padding-top: 5px;
}

.reviews-container{
  overflow: scroll;
  max-height: 450px;
  min-width: 400px;
}

.reviews-container::-webkit-scrollbar{
  background-color: transparent;
}


.reviews-container::-webkit-scrollbar-thumb{
  background: #428047;
}

.sort-by{
  font-size: 13pt;
  font-weight: lighter;
}

.sort-by-selector {
  border: .5px solid rgb(189, 189, 189);
  border-radius: 10%;
  margin-bottom: 3px;
}

.sort-by-selector:hover {
  background-color: #428047;
}

.reviewTile{
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  margin-right: 15px;
  padding-bottom: 5px;
  display: grid;
  min-width: 400px;
  grid-template-columns: 25% 25% 25% 25% 25%;
  grid-template-areas:
    'header header header header'
    'summary summary summary summary'
    'body body body body'
    'icon icon icon icon'
    'footer footer footer footer';
}

.reviewTileHeader{
  display: flex;
  justify-content: space-between;
  grid-area: header;
}

.reviewTileSummary{
  font-weight: bold;
  font-size: 16px;
  overflow: auto;
  grid-area: summary;
  justify-content: center;
}

.reviewTileBody{
  font-size: 12px;
  grid-area: body;
  display: flex;
  flex-direction: column;
}

.show-more-review{
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid black;
}

.show-more-review:hover{
  background-color: #428047
}

.response{
  background-color: #428047;
}

.reviewTileThumbnails{
  display: flex;
  flex-direction: row;
  grid-area: icon;
  gap: 2px;
}

.reviewTileFooter{
  grid-area: footer;
}

.photo-modal {
  top: 25%;
  border: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.photo-modal-contents {
  max-width: 500px;
  max-height: 500px;
}

.addReviewModal {
  border: 5px solid #428047;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  padding: 25px 25px 25px 25px;
  overflow: auto;
  z-index: 5;
}

.addReviewForm {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 15px;
}

.fullReview {
  min-height: 70px;
  width: 100%
}

.addReviewForm-chars{
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%
}

.addReviewAlertModal {
  border: 3px solid black;
  border-radius: 25px;
  background-color: bisque;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 70%;
  transform: translate(-50%, -50%);
  padding: 20px 20px 20px 20px;
  z-index: 6;
}

/* .addReviewForm-chars tr:nth-child(even){
  background-color: #f2f2f2;
} */

/**********RELATED PRODUCT STYLES******************/

.relatedProducts-container {
  max-height: 300px;
  display: flex;
  width: 100vw;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.button-style {
  variant: 'primary';
}

div.flex-center {
  display: flex;
  justify-content: center;
}

.card-image {
  width:150;
  height:150;
}


.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #428047;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}
