/******************APP STYLES*******************/

#app h1{
  font-size: 20pt;
}

#app h2{
  font-size: 16pt;
}

#app h4{
  font-size: 12pt;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/******PRODUCT OVERVIEW STYLES******************/

.productOverview-container {
  position: relative;
  height: 600px;
  display: flex;
  margin: 30px;
  /* min-width: 1600px; */
}

.overview-container {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  max-width: fit-content;
  min-width: 440px;
  max-height: 570px;
  /* border: solid greenyellow; */
}

.imagegallery {
  position: relative;
  background-color: rgb(134, 134, 134);
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 578px;
  min-width: 551px;
  align-content: space-around;
  overflow: hidden;
}

.flexbox-item {
  justify-content: space-around;
  /* align-content: space-between; */
}

.primary-image {
  position: relative;
  background-color: rgb(134, 134, 134);
  display: flex;
  margin: 17px;
  align-items: center;
  flex-basis: auto;
  justify-content: center;
  overflow: hidden;
  max-height: 450px;
}

.inner-image {
  position: absolute;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  min-width: 551px;
  padding: 10px;
  align-content: space-around;
}

.inner-images {
  /* padding: 5px; */
  border: rgb(189, 189, 189);
}

/* .pobtns {
  variant: 'outline';
} */

.addtocart-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  /* background-color: aquamarine; */
}

.price-container {
  display: flex;
  justify-content: space-between;
  width: 27%
}

.cont {
  border: 4px solid grey;
}

.cont2 {
  border: 5px solid #428047;
}

/******RATINGS AND REVIEWS STYLES******************/
.ratingsAndReviews-container {
  max-height: 700px;
  display: flex;
  flex-direction: row;
}

/**********RELATED PRODUCT STYLES******************/

.relatedProducts-container {
  max-height: 300px;
  display: flex;
  width: 50%;
}

div.flex-center{
  display: flex;
  justify-content: center;
}
/* style={{
  margin: 'auto',
  width: '50%',
  padding: '10px',
}} */


