.imagegallery {
  position: relative;
  background-color: rgb(219, 238, 255);
  /* border: 1px solid grey; */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 530px;
  width: 643px;
}

.primary-image {
  position: absolute;
  background-color: aliceblue;
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 1in;
  display: flex;
  border: 0;
  max-width: fit-content;
  max-height: fit-content;
  justify-content: space-around;
}

.inner-image {
  position: absolute;
  background-color: aliceblue;
  border: 1px solid grey;
  /* padding: 5px; */
  display: flex;
  /* gap: 5px; */
  /* flex-direction: column; */
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

